
.bg-image {
  position: relative;
  height: 400px;
  overflow: hidden;
  background-color: #636363;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.descricao{
  font-family: Myanmar;
  font-size: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* HAMBURGUER */
.menu-btn {
    position: relative;
    justify-content: right;
    width: 80px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger {
    width: 50px;
    height: 6px;
    background: #309839;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #636363;
    border-radius: 5px;
    transition: all .5s ease-in-out;
  }
  .menu-btn__burger::before {
    transform: translateY(-16px);
  }
  .menu-btn__burger::after {
    transform: translateY(16px);
  }
  /* ANIMATION */
  .menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
@font-face {
    font-family: Myanmar;
    src: url(myanmar-khyay.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: Myanmar;
    font-size: 100px;
    line-height: 65px;
    color: #636363;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
a{
    font-size: 24px;
}
.card-body{
  background-color: #636363;
  height: 282px;
  box-shadow:4px 4px 4px rgba(0, 0, 0, 0.25);
}
.card{
  margin: 30px; 
}
.sobre{
  position: relative;
  color: #309839;
  top: 30px;
  left: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Myanmar;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}
.sobredois{
  position: relative;
  top: 60px;
  font-family: Myanmar;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;

  color: #636363;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sobretres{
  position: relative;
  top: 70px;
  font-family: Myanmar;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  color: #636363;

  opacity: 0.62;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hr3 {
  border: 0;
  height: 2px;
  position: relative;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}
.checks{
  font-family: Myanmar;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #636363;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.anime{
  opacity: 0;
  transform: translate3d(0,30px,0);
  transition: .3s;
}
.anime-start{
  opacity: 1;
  transform: translate3d(0,0,0);
}


.home{
  font-family: Myanmar;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;

  color: #636363;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home:hover{
  color: #309839;
}
@media only screen and (min-width: 800px) {
  .menu-btn  {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .container  {
    display: none;
  }
}