header{
  padding: 10px 20px;
  position: relative;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
html, body { max-width: 100%; overflow-x: hidden;}

.menu{
  list-style: none;
  display: flex;
  align-items: center;
}
.logohov:hover{
  color: #309839;
}
.home{
  font-family: Myanmar;
  font-style: normal;
  font-weight: normal;
  display: block;
  padding: 10px 15px;
  font-size: 24px;
  line-height: 32px;
  color: #636363;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.home:hover{
  color: #309839;
}
.bg-image {
  position: relative;
  height: 400px;

  background-image: url();
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hamburguer{
  width: 30px;
  height: 30px;

  background-color: transparent;
  border-radius: 5px;
  border: 0;

  position: relative;
  cursor: pointer;

  display: none;
}
.hamburguer:after{
  content: "";

  position: absolute;
  top: 35%;
  left: 15%;

  width: 70%;
  height: 5%;
  border-radius: 5px;

  background-color: #309839;
}
.hamburguer:before{
  content: "";

  position: absolute;
  top: 55%;
  left: 15%;

  width: 70%;
  height: 8%;
  border-radius: 5px;
  background-color: #636363;
}

.descricao{
  font-family: Myanmar;
  font-size: 20px;
  color: #636363;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


@font-face {
    font-family: Myanmar;
    src: url(myanmar-khyay.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: Myanmar;
    font-size: 100px;
    line-height: 65px;
    color: #636363;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
a{
    font-size: 24px;
}
.card-body{
  background-color: #fff;
  border-radius: 5px;
  height: 282px;
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.25);
}
.card{
  margin: 30px; 
}
.sobre{
  position: relative;
  color: #309839;
  top: 30px;
  left: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Myanmar;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}
.sobredois{
  position: relative;
  top: 60px;
  font-family: Myanmar;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 65px;

  color: #636363;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sobretres{
  position: relative;
  top: 70px;
  font-family: Myanmar;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 16px 16px;
  color: #636363;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.acontato{
    background-color: #309839;
    box-shadow: 0 5px 0 #19440c;
    color: #fff;
    padding: 0.2em 1em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}
.acontato:hover {
  color: #fff;
  background-color: #297412;
  cursor: pointer;
}

.acontato:active {
  box-shadow: none;
  top: 5px;
}
.hr3 {
  border: 0;
  height: 2px;
  position: relative;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);  
}
.checks{
  font-family: Myanmar;
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: #636363;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 800px) {
  .hamburguer{
    display: block;
    z-index: 999;
  }
  .menu{
    position: fixed;
    top: 0;
    right: 0px;
    height: 100vh;
    margin: 0;
    padding: 50px 20px;
    background-color: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    flex-direction: column;

    transition: .5s;
  }
  .menu.active{
    right: -250px;
  }
}


.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;

}

